@media (max-width: 85em) {
  html {
    font-size: 56.25%;
  }
  .child,
  .color-child,
  .upper-color-child {
    padding: 1.2rem;
    width: 7.2rem;
    height: 3rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 61em) {
  html {
    font-size: 49%;
  }
  .child,
  .color-child,
  .upper-color-child {
    padding: 1rem;
    width: 7rem;
    height: 2.5rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 51em) {
  html {
    font-size: 42%;
  }
  .child,
  .color-child,
  .upper-color-child {
    padding: 0.8rem;
    width: 6.8rem;
    height: 2.2rem;
    font-size: 1.8;
  }
}
@media (max-width: 43em) {
  html {
    font-size: 37%;
  }

  .child,
  .color-child,
  .upper-color-child {
    padding: 0.6rem;
    width: 5.6rem;
    height: 1.8rem;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 33%;
  }
  .child,
  .color-child,
  .upper-color-child {
    padding: 0.5rem;
    width: 4.8rem;
    height: 1.4rem;
  }
}
@media (max-width: 33em) {
  html {
    font-size: 28%;
  }
  .child,
  .color-child,
  .upper-color-child {
    padding: 0.4rem;
    width: 4.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 28.5em) {
  html {
    font-size: 22.5%;
  }
  .child,
  .color-child,
  .upper-color-child {
    width: 3.4rem;
  }
}

@media (max-width: 22.5em) {
  html {
    font-size: 18%;
  }
  .child,
  .color-child,
  .upper-color-child {
    width: 2.6rem;
  }
}

@media (max-width: 18em) {
  html {
    font-size: 15%;
  }
  .child,
  .color-child,
  .upper-color-child {
    width: 2.2rem;
  }
}
