/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

/*
      MAIN COLOR: 
      GREY: 

      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 32px;
  color: #444;
  font-size: 44px;
}

.upper-color-child-container {
  display: flex;
  gap: 8px;
  margin-left: 12px;
  margin-top: 48px;
}
