/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

/*
      MAIN COLOR: 
      GREY: 

      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
}

body {
  font-family: monospace;
  background-color: #f0f3f6;
  line-height: 1;
  max-width: 160rem;
}

header {
  display: flex;
  height: 8rem;
  align-items: center;
}

.app-title {
  text-align: center;
  margin-top: 3.2rem;
  color: #333;
  font-size: 4.4rem;
  padding: 0 4.8rem;
}

i {
  position: relative;
  right: 1.2rem;
  font-size: 0.4rem;
}

.logo {
  position: relative;
  transform: rotate(90deg);
  font-size: 4.4rem;
  height: 3.6rem;
  top: 0.6rem;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto 1fr;
}

.upper-color-child-container {
  display: flex;
  gap: 0.8rem;
  margin-left: 1.6rem;
  margin-top: 3.2rem;
}

.grid-container {
  grid-row: 2 / -2;
  margin-top: 1.6rem;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: 1fr 0.8rem repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr)); */
  /* grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr)); */
  grid-auto-flow: column;
  margin-bottom: 4.8rem;
}

.child,
.color-child,
.upper-color-child {
  padding: 1.2rem;
  width: 9.6rem;
  height: 3.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: bold;
  border: #000 solid 1px;
  border-radius: 0.2rem;
}

.color-child {
  margin-top: 0.5px;
}

.upper-color-child {
  margin-bottom: 0.4rem;
}

.blue {
  background-color: mediumblue;
}

.goldenrod {
  background-color: goldenrod;
  color: black;
}

.mediumseagreen {
  background-color: mediumseagreen;
  color: black;
}

.saddlebrown {
  background-color: saddlebrown;
  color: white;
}

.grey {
  background-color: grey;
}

.white {
  background-color: white;
  color: black;
}

.firebrick {
  background-color: firebrick;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.gold {
  background-color: gold;
  color: black;
}

.purple {
  background-color: purple;
  color: white;
}

.hotpink {
  background-color: hotpink;
  color: black;
}

.skyblue {
  background-color: skyblue;
  color: black;
}

.flex-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
  padding: 3.2rem;
  background-color: #dae1e8;
  border-radius: 10rem;
}

.number-input,
.fiber-select,
.reset-btn {
  background-color: rgb(214, 222, 224);
  border: 1.5px solid #8d5ee4;
  border-radius: 0.4rem;
  line-height: 1.5em;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.8rem;
  color: #16013e;
}

.forms {
  margin: 0 auto;
  justify-content: center;
  width: 80rem;
}

.reset-btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

.no-border {
  border: none;
}

.empty-column {
  width: 0.8rem !important;
  gap: 10rem;
}

footer {
  font-size: 1.2rem;
  text-align: center;
}
