/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

/*
      MAIN COLOR: 
      GREY: 

      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 32px;
  color: #444;
  font-size: 44px;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto 1fr;
  /* grid-auto-flow: column; */
  /* gap: 7px; */
}

.upper-color-child-container {
  display: flex;
  gap: 8px;
  margin-left: 12px;
  margin-top: 48px;
}

.grid-container {
  grid-row: 2 / -2;
  margin-top: 16px;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 8px repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-auto-flow: column;
  margin-bottom: 48px;
}

.color-child,
.upper-color-child {
  padding: 4px;
  width: 80px;
  height: 32px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border: #000 solid 1px;
}

.blue {
  background-color: mediumblue;
}

.goldenrod {
  background-color: goldenrod;
  color: black;
}

.mediumseagreen {
  background-color: mediumseagreen;
  color: black;
}

.saddlebrown {
  background-color: saddlebrown;
  color: white;
}

.grey {
  background-color: grey;
}

.white {
  background-color: white;
  color: black;
}

.firebrick {
  background-color: firebrick;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.gold {
  background-color: gold;
  color: black;
}

.purple {
  background-color: purple;
  color: white;
}

.hotpink {
  background-color: hotpink;
  color: black;
}

.skyblue {
  background-color: skyblue;
  color: black;
}
